<div class="contextual">
<%= link_to_if_admin l(:add_report), { :controller => 'sql_reports', :action => 'add'},
    :class => 'icon icon-add' -%>
</div>
<h3><%= l(:sql_reports_title) %></h2>
<ul>
<% @reports.each do |report| %>
  <li>
  <%= link_to report[:title], {:controller => 'sql_reports', :action => 'show', :id => report[:id]} %>
  </li>
<% end %>
</ul>
