<% html_title @report.title -%>
<h2>Report: <%= @report.title %></h2>

<% if @table.blank? %>
  <p id="errorExplanation"><%= @error %></p>
<% else %>
  <table>
  <tr>
  <%- for col in @table.columns -%>
    <th><%= report_header col %></th>
  <%- end -%>
  </tr>
  <% @table.rows do |row| %>
      <tr>
      <% for col in @table.columns %>
          <td><%= report_cell col,row[col] %></td>
      <% end %>
      </tr>
  <% end %>
  </table>
<% end %>
